html {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: #333;
  // border: 5px solid black;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    margin: 10px;
}

a {
    color: #87d1c7;
}

.topnav, .footer {
    background-color: #000;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .theme {
    float: right;
}

.topnav a:hover {
    background-color: #777;
    color: black;
    cursor: pointer;
}

.topnav a.active {
    background-color: #3cd0c0;
    color: white;
}

.content {
    text-align: center;
    background-color: #555;
    color: white;
    width: 60%;
    padding: 10px 20px;
    margin: auto;
    min-height: 100%;
    position: relative;
    padding-bottom: 200px;
}

.footer {
    text-align: right;
    color: #ffffff;
    position: absolute;
    height: 200px;
    bottom:0;
}

.postlist {
    list-style: none;
    padding: 0;
    margin: 0;
}
