html {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0 auto;
  background-color: white;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    margin: 10px;
}

a {
    color: #87d1c7;
}

.topnav, .footer {
    background-color: #000;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .theme {
    float: right;
}

.topnav a:hover {
    background-color: #777;
    color: black;
}

.topnav a.active {
    background-color: #3cd0c0;
    color: white;
}

.content {
    text-align: center;
    background-color: #FAFAFA;
    color: black;
    width: 60%;
    padding: 10px 20px;
    margin: auto;
}

.footer {
    text-align: right;
    color: #ffffff;
}

.postlist {
    list-style: none;
    padding: 0;
    margin: 0;
}
